@model Group2.Models.Doc_Res

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Doc_Res</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="fULL_NAME" class="control-label"></label>
                <input asp-for="fULL_NAME" class="form-control" />
                <span asp-validation-for="fULL_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="uSERNAME" class="control-label"></label>
                <input asp-for="uSERNAME" class="form-control" />
                <span asp-validation-for="uSERNAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ROLE" class="control-label"></label>
                <input asp-for="ROLE" class="form-control" />
                <span asp-validation-for="ROLE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PHONE" class="control-label"></label>
                <input asp-for="PHONE" class="form-control" />
                <span asp-validation-for="PHONE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PASSWORD" class="control-label"></label>
                <input asp-for="PASSWORD" class="form-control" />
                <span asp-validation-for="PASSWORD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
